[Desktop Entry]
Encoding=UTF-8
Name=Unprivileged Package Manager
Comment=Maintain and install packages (from source) in your home folder
GenericName=Source Package manager
Exec=UserPKG
Icon=UserPKG
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;System;Utility;Core;;

# vi:set encoding=UTF-8:
X-Desktop-File-Install-Version=0.15
